<div class="about-page">
  <section class="intro">
    <h1 class="fade-in">E-COMMERCE <span>ALIMENTOS</span></h1>
    <p class="fade-in-delay">
      <strong>¡Encontra todos los productos que necesites en un solo lugar!</strong> 
      <br>
      Ofrecemos amplia variedad de alimentos
    </p>
  </section>

  <section class="features">
    <div class="card slide-up">
      <i class="material-icons">storefront</i>
      <h3>Productores Nacionales e Internacionales</h3>
      <p>Podes encontrar productos exclusivos solo en nuestra web</p>
    </div>

    <div class="card slide-up">
      <i class="material-icons">verified</i>
      <h3>Confianza y Calidad</h3>
      <p>Seleccionamos cuidadosamente cada producto que ofrecemos.</p>
    </div>

    <div class="card slide-up">
      <i class="material-icons">restaurant</i>
      <h3>Sabor y Frescura</h3>
      <p>Garantizamos alimentos que todos puedan disfrutar</p>
    </div>
  </section>

  <section class="mission fade-in-delay">
    <h2>Nuestra Misión</h2>
    <p>
      Ofrecemos una experiencia de compra práctica, rápida y transparente. Garantizamos
      una compra segura y productos de calidad. Recibi lo que compraste o te devolvemos el dinero.
    </p>
  </section>
</div>
