<mat-toolbar color="primary" class="app-header">
  <span class="nav-left">
    <span class="app-title">Inventario</span>
  </span>

  <span class="nav-right">
    <a mat-button routerLink="/login" routerLinkActive="active" class="btn-header link">
      Iniciar sesión
    </a>

    <a mat-raised-button routerLink="/register" class="btn-header btn-register">
      Registrarse
    </a>
  </span>
</mat-toolbar>


<mat-card class="login-card">
  <mat-card-header>
    <h2>Login</h2>
  </mat-card-header>

  <mat-card-content>
    <form #loginForm="ngForm" (submit)="login()">

      <mat-error *ngIf="!loginValid" class="error-msg">
        Usuario o contraseña incorrectos
      </mat-error>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email" placeholder="Email" name="email" required>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput [(ngModel)]="user.password" placeholder="Password" name="password" required>
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <button onclick="login()" mat-raised-button color="primary" class="btn-login" [disabled]="!loginForm.form.valid">
        Ingresar
      </button>
    </form>
  </mat-card-content>
</mat-card>