.container {
    background-color: #fff;
    padding: 20px;
    height: calc(100% - 40px);
}

.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}