<div class="perfil-card">
  <div class="perfil-left">
    <div class="avatar" aria-hidden="true">{{ iniciales }}</div>

  </div>
  <div class="perfil-right">
    <h2 class="nombre">
      {{ nombre }} <span class="apellido">{{ apellido }}</span>
    </h2>
    <p class="edad">Edad: <strong>{{ edad }}</strong></p>
    <p class="email">Email: <strong>{{ email }}</strong></p> 
    <p class="DNI">DNI: <strong>{{ dni }}</strong></p>
    <p class="fecha-nacimiento">Fecha de Nacimiento: <strong>{{ fechaNacimiento }}</strong></p>
    <p class="direccion">Dirección: <strong>{{ direccion }}</strong></p>
  </div>
</div>

