<div class="container">
<h2>H O M E</h2>

<section id="inicio" class="bg-gradient-to-r from-blue-600 to-blue-400 text-white py-20">
    <div class="max-w-5xl mx-auto text-center px-4">
        <h2 class="text-4xl font-extrabold mb-4">Controlá tu inventario de forma fácil y rápida</h2>
        <p class="text-lg mb-6">Un sistema pensado para kioskos, que te ayuda a llevar el control de stock de todos tus productos sin complicaciones.</p>
    </div>

</section>

<br>
<br>
<div class="cards-products">
<mat-card class="example-card"
          appearance="outlined"
          (click)="goToProductos()"
        >
  <mat-card-header>
    <mat-card-title>Productos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Inventore non aliquid esse ad praesentium explicabo sint.
    </p>
  </mat-card-content>
      <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip>charming</mat-chip>
        <mat-chip>graceful</mat-chip>
        <mat-chip>sassy</mat-chip>
        </mat-chip-set>
    </mat-card-footer>
</mat-card>


<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Inventario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Inventore non aliquid esse ad praesentium explicabo sint.
        </p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip>charming</mat-chip>
        <mat-chip>graceful</mat-chip>
        <mat-chip>sassy</mat-chip>
        </mat-chip-set>
    </mat-card-footer>
</mat-card>


<mat-card class="example-card" appearance="outlined" (click)="goToCash()">
    <mat-card-header>
        <mat-card-title>Caja</mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Inventore non aliquid esse ad praesentium explicabo sint.</p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip>charming</mat-chip>
        <mat-chip>graceful</mat-chip>
        <mat-chip>sassy</mat-chip>
        </mat-chip-set>
    </mat-card-footer>
</mat-card>
</div>

<br>

<section id="inicio" class="bg-gradient-to-r from-blue-600 to-blue-400 text-white py-20">
    <div class="max-w-5xl mx-auto text-center px-4">
        <h2 class="text-4xl font-extrabold mb-4">Distintas opciones de configuracion</h2>
        <ul class="text-lg mb-6" style="list-style-type: none">Funciones principales:
        <li>✓ Agregar nuevos productos</li>
        <li>✓ Actualizar datos y precios</li>
        <li>✓ Eliminar artículos obsoletos</li>
        <li>✓ Generar reportes de inventario</li>
        </ul>
    </div>

</section>

</div>

